{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
        <li>{{ request.user }}</li>
        <li><a href="{% url 'index_view' %}">Calc</a></li>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
