{% extends 'base.html' %}

{% block content %}
<div class="container">
<a href="{% url 'profile_update_view' request.user.profile.id  %}">Edit Profile</a>
<h2>User Name: {{ request.user }}</h2>
<h3>Access Level: {{ request.user.profile.access_level }}</h3><br>




{% if request.user.profile.access_level == 'o' %}
{% for x in EQS_owner %}
<div class="panel">


<p>{{ x.eq }} {{ x.answer }} - {{ x.user }}</p>
</div>
{% endfor %}
{% else %}

{% for x in EQS %}
<h4>{{ x.eq }} {{ x.answer }} {{ x.user }}</h4>
{% endfor %}
{% endif %}
</div>
{% endblock %}
