{% extends 'base.html' %}

{% block content %}
<div class="container">
<a href="{% url 'profile_update_view' request.user.profile.id  %}">Edit Profile</a>
<h2>User Name: {{ request.user }}</h2>



{% if request.user.profile.access_level == 'o' %}
<h3>Access Level: Owner</h3><br>
{% for x in EQS_owner %}
<div class="panel">
<p>{{ x.eq }} {{ x.answer }} - {{ x.user }}</p>
</div>
{% endfor %}
{% else %}
<h3>Access Level: User</h3><br>
{% for x in EQS %}
<div class="panel">
<p>{{ x.eq }} {{ x.answer }} {{ x.user }}</p>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
